.loading-Seta {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  border: none;
}
.pagination-button {
  border: none;
  height: 100%;
  cursor: pointer;
}

.pagination-button:hover {
  background-color: brown;
}
