.info-pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    }


.card-info-pokemon {
    width: 330px;

    border: 35px double rgba(0, 0, 0, 0.884);
    border-radius: 3px;
    display: grid;
    grid-template-areas:
        "header header"
        "main "
        "navigate-pokemon navigate-pokemon";
    row-gap: 1rem;
    background-color: #050505;
    background: linear-gradient(20deg,#ffdb73 0%, 
    #ffdb73 40%, 
    #c88422 60%, 
    #6a3406 100%);
    }
.card-info-pokemon:hover {
    box-shadow: 1px 1px 10px white;
    }
.info-pokemon-card h2 {
    text-transform: uppercase;
    text-align: justify;
    display: flex;
    justify-content: center;

    text-shadow: 0px 0px 5px;
    }
.info-pokemon-card p {
    text-transform: capitalize;
    text-align: justify;
    }
.img-pokemon {
    display: flex;
    box-shadow: 0px 5px 4px;
    align-self: center;
    justify-content: center;
    align-items: center;
    }

.img-pokemon:hover {
    box-shadow: 1px 1px 10px;
    
    }
.types-pokemon {
    padding-bottom: 10px;
    align-self: center;
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 5px;
    }
.moves {
    max-width: 330px;
    max-height: 80px;
    align-self: start;
    overflow-y: scroll;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    color: rgba(240, 248, 255, 0.678);
    }
.habilit-pokemon {
    display: flex;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.315);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    }

.status {
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    padding-bottom: 10px;
    }

    .status-ponts {
        display: flex;
        width: 100%;
        height: 20px;
        border: 1px solid #33333328;
        border-radius: 30px;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
    }
    
    .status-ponts-barra {
        height: 100%;
        transition: width 10ms ease-out ;
    }
    
    .status-label {
        position: absolute;
        left: 10px;
        z-index: 1;
        font-size: 14px;
        color: #fff;
    }
.back {
    color: #000;
    font-size: 30px;
    text-decoration: none;
    text-shadow: 2px 1px white;
    }
.back:hover{
    box-shadow: 1px 1px whitesmoke;
    border-radius: 10px;
}

@keyframes increaseWidth {
    0% {
        width: 0%;
        background-color: #bcf89485;
    }
    20% {
        width: 20%;
        background-color: #94f8ba85;
    }
    60% {
        width: 30%;
        background-color: #7ae410;
    }
    100% {
        width: 50%;
        background-color: #3e3c;
    }
    }
